.container {
    width: 700px;
    height: 700px;
    margin: 0 auto;
    background-color: bisque;
    padding-top: 15px;
    
}

.h1{
    text-align: center;
}

.apresentacao, .apresentacao3{
    width: 250px;
    height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 30px;
    background-color: burlywood;
    padding-left: 10px;
    margin-left: 70px;
    float: left;
    
}
.apresentacao2, .apresentacao4{
    width: 250px;
    height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 30px;
    background-color: burlywood;
    padding-left: 10px;
    margin-left: 20px;
    float: left;
}

.rotina, .bandas_artistas{
    margin-left: 70px;
}

.rotina, .hobbies{
    margin-bottom: 30px;
}

.hobbies, .viagens{
    margin-left: 20px;
}

.textoRotina, .textoHobbie, .textoArtistas, .textoViagens{
    font-size: 15px;
    
}

.spanRotina, .spanHobbies, .spanArtistas, .spanViagens{
    display: block;
    font-size: 15px;
}

.box{
    width: 250px;
    height: 230px;
    background-color: burlywood;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    float: left;
}

